@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* || RESET */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    font: inherit;
}

/* || VARIABLES */

:root {
    /* FONTS */
    --FF-HEADINGS: "Lato", sans-serif;
    --FF: "Open Sans", sans-serif;
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    --FW: 600;

    /* COLORS */
    --BGCOLOR-FADE: #C2B4FD;
    --BGCOLOR: #6D51FB;
    --BG-IMAGE: linear-gradient(to top, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --FONT-COLOR: #040404;
    --FORM-BGCOLOR: #F2F2F2;
    --HIGHLIGHT-COLOR: #826AFB;
    --INPUT-SELECT-FONT-COLOR: #5F5F5F;
    --BUTTON-COLOR: #826AFB;
    --BUTTON-HOVER: #6D51FB;
    --BUTTON-ACTIVE: #5838FA;

    /* BORDERS */
    --BORDER-RADIUS: 10px;

    /* STANDARD PADDING */
    --PADDING: 1.5em;

    /* STANDARD MARGIN */
    --MARGIN-TOP: 1.25rem;
    --MARGIN-BOTTOM: 0.6rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --BGCOLOR-FADE: #826AFB;
        --BGCOLOR: #040404;
        --FONT-COLOR: #F2F2F2;
        --FORM-BGCOLOR: #303030;
        --HIGHLIGHT-COLOR: #826AFB;
        --BUTTON-COLOR: #826AFB;
        --BUTTON-HOVER: #6D51FB;
        --BUTTON-ACTIVE: #5838FA;
    }
}

/* || UTILITY CLASSES */

.offscreen {
    position: absolute;
    left: -10000px;
}

/* || GENERAL STYLES */

html {
    font-family: var(--FF);
}

body {
    align-items: center;
    background: var(--BG-IMAGE);
    color: var(--FONT-COLOR);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: var(--PADDING);
}

/* || FORM */

.article {
    background-color: var(--FORM-BGCOLOR);
    border-radius: var(--BORDER-RADIUS);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    max-width: 720px;
    padding: var(--PADDING);
    position: relative;
    width: 100%;
}

.article__h1 {
    color: var(--FONT-COLOR);
    font-family: var(--FF-HEADINGS);
    font-size: 1.75rem;
    font-weight: var(--FW);
    text-align: center;
}

.article__form {
    margin-top: var(--MARGIN-TOP);
}

.form__p {
    margin-top: var(--MARGIN-TOP);
    width: 100%;
}

.form__label {
    color: var(--FONT-COLOR);
    font-family: var(--FF-HEADINGS);
    font-weight: var(--FW);
}

.article__form :where(.form__input, .select-container) {
    border-radius: var(--BORDER-RADIUS);
    border: 1px solid #CCC;
    color: var(--INPUT-SELECT-FONT-COLOR);
    font-size: var(--FS);
    height: 50px;
    margin-top: var(--MARGIN-TOP);
    outline: none;
    padding: 0 15px;
    position: relative;
    width: 100%;
}

.form__input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.article__form .column {
    column-gap: 15px;
    display: flex;
}

.article__form .form__fieldset {
    border: none;
    margin-top: var(--MARGIN-TOP);
}

.form__fieldset legend {
    color: var(--FONT-COLOR);
    font-family: var(--FF-HEADINGS);
    font-weight: var(--FW);
    margin-bottom: var(--MARGIN-BOTTOM);
}

.article__form :where(.gender__container, .gender__p) {
    align-items: center;
    column-gap: 50px;
    display: flex;
    flex-wrap: wrap;
}

.article__form .gender__p {
    column-gap: 5px;
}

.gender__input {
    accent-color: var(--HIGHLIGHT-COLOR);
}

.article__form :where(.gender__input, .gender__label) {
    cursor: pointer;
}

.gender__label {
    color: var(--FONT-COLOR);
}

.address :where(input, .select-container) {
    margin-top: var(--MARGIN-TOP);
}

.select-container {
    background-color: #FFF;
}

.select-container select {
    background-color: #FFF;
    border: none;
    color: var(--INPUT-SELECT-FONT-COLOR);
    cursor: pointer;
    font-size: var(--FS);
    height: 100%;
    outline: none;
    width: 100%;
}

.form__button {
    background-color: var(--BUTTON-COLOR);
    border: none;
    border-radius: var(--BORDER-RADIUS);
    color: #F2F2F2;
    cursor: pointer;
    font-size: var(--FS);
    font-weight: 500;
    height: 55px;
    margin-top: var(--MARGIN-TOP);
    transition: all 0.2s ease;
    width: 100%;
}

.form__button:hover {
    background-color: var(--BUTTON-HOVER);
}

.form__button:active {
    background-color: var(--BUTTON-ACTIVE);
}

/* || MEDIA QUERIES */

@media screen and (max-width: 500px) {
    .article__form .column {
        flex-wrap: wrap;
    }

    .article__form :where(.gender__container, .gender__p) {
        row-gap: 15px;
    }
}

@media screen and (max-width: 576.99px) {
    .gender__container {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }
}